In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset/Result.csv')

In [6]:
df.mean(axis=0)

SentimentTitle      -0.001886
SentimentHeadline   -0.024601
sub                  0.022715
dtype: float64

In [7]:
df

           IDLink  SentimentTitle  SentimentHeadline       sub
0      tFrqIR6Chj        0.148877          -0.038287  0.187164
1      DVAaGErjlF       -0.130587           0.065017 -0.195604
2      OT9UIZm5M2        0.048962          -0.149408  0.198369
3      lflGp3q2Fj       -0.163677          -0.149336 -0.014341
4      zDYG0SoovZ       -0.078282           0.118750 -0.197032
...           ...             ...                ...       ...
37283  5bYaKaEyN3        0.097046          -0.029046  0.126092
37284  jmnC32Uh5u        0.010646           0.005575  0.005071
37285  yPhgBwobV0        0.224867          -0.061012  0.285879
37286  adFcODOaiQ        0.050170           0.016874  0.033296
37287  y3DArgHOmr       -0.052697          -0.130694  0.077997

[37288 rows x 4 columns]

In [ ]:
import numpy as np